  # this is a ci/cd file for index.html apps
  name: CI/CD Web APPS
  on: 
   push:
    branches: [ "main" ]

  jobs:

   Create_App_Release:
    runs-on: ubuntu-latest
    needs: BULID_DOCKER_IMAGE
    steps:
      - name: Download artifacts from build 
        uses:  actions/download-artifact@v3
        with:
         name: Source-Code

      - name: Archive Site Contants
        uses: thedoctor0/zip-release@master
        with:
         filename: khalaf_c.zip

      - name: Create Apps release in github
        uses: actions/create-release@v1
        id: create-release
        env:
          PERSONAL_GITHUB_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }} 
        with:
          tag_name: v1.2 #${{ github.ref }}
          release_name: khalaf_omer #Release ${{ github.ref }}
          # body: |
          #   Change the test release from index.html to main.c
          #   - First: create a simple add function 
          #   - Second: call this function from other file 
          # draft: false
          # prerelease: false


      - name: Upload Assets to New Release
        uses:  actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} 
          asset_path: ./khalaf_c.zip
          asset_name: kalaf.v${{ github.run_number }}.zip
          asset_content_type: application/zip

   BULID_DOCKER_IMAGE: 
    runs-on: ubuntu-latest
    steps:
     - name: Check if docker is installed 
       run: docker --version

     - name: copy local files to remopte runner 
       uses: actions/checkout@v3 
     
     - name: Check if gcc is installed in runner 
       run: gcc --version

     - name: Create Object file of ahmad.c and main.c in runner 
       run: | 
        gcc -Wall -c main.c 
        gcc -Wall -c ahmad.c
      
     - name: Create Setup binary file
       run: gcc -o setup *.o

     - name: Create directory of source code
       run: |
          mkdir ./my_code
          cp *.c my_code
          cp *.h my_code
         
     - name: Upload artifacts
       uses: actions/upload-artifact@v3
       with:
          name: Source-Code
          path: my_code 
     